.rmdp-analog-clock {
    width: 140px;
    height: 140px;
}

.rmdp-time-picker input{
    font-size: 12px !important;
}

.bg-light .rmdp-input, .bg-light .rmdp-time-picker input{
    background-color: white;
    color: black;
}
